.film {
  display: grid;
  gap: 15px;
  width: 100%;
  background: #fff;
  padding: 1rem 1rem 1rem 4rem;
  position: relative;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
            "title title"
            "plot plot";
  font-family: 'RTRondelle-Regular', sans-serif;

  &__image {
    grid-area: image;
  }

  &__title {
    grid-area: title;
    font-family: 'Gatefold-Demibold', sans-serif;
    font-size: 20px;
  }

  &__released-title {
    grid-area: releasedTitle;
    font-family: 'RTRondelle-Medium', sans-serif;
  }

  &__released {
    grid-area: released;
    font-size: 14px;
  }

  &__creators-title {
    grid-area: creatorsTitle;
    font-family: 'RTRondelle-Medium', sans-serif;
  }

  &__creators {
    grid-area: creators;
    font-size: 14px;
  }

  &__plot {
    grid-area: plot;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    background: var(--background);
    line-height: 1.5;
    margin-top: 15px;
    text-align: justify;
  }

  &__square {
    width: 50px;
    height: 50px;
    background: #8e2ad6;
    position: absolute;
    left: -15px;
    top: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    font-family: 'Gatefold-Demibold', sans-serif;
  }
}

.active {
  cursor: default;
  color: blue;
}
