header {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 1rem;
  border-bottom: 2px solid;
  margin-bottom: 3rem;
  width: 100%;
  color: #8e2ad6;
  padding: 0 4rem 1rem 1rem;
}

header h3 {
  font-family: 'Gatefold-Demibold', sans-serif;
  font-size: 30px;
  margin-bottom: 0;
}

.navigation {
  &__menu {
    align-self: end;

    a {
      margin-left: 1rem;
    }
  }
}