@import "./assets/_css/fonts.scss";

img {
  height: 200px;
}

a {
  font-weight: 500;
  color: #8e2ad6;
}

a:hover {
  color: #000;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background: #f1f1f1;
}

.App {
  width: 100vh;
}

#root {
  display: flex;
  justify-content: center;
}