@font-face {
    font-family: 'Gatefold-Demibold';
    src: url('../../../static/fonts/Gatefold/Gatefold-Demibold.otf')
    format('opentype'),
    url('../../../static/fonts/Gatefold/Gatefold-Demibold.otf')
    format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'RTRondelle-Medium';
    src: url('../../../static/fonts/RT Rondelle/RTRondelle-Medium.otf')
    format('opentype'),
    url('../../../static/fonts/RT Rondelle/RTRondelle-Medium.otf')
    format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'RTRondelle-Regular';
    src: url('../../../static/fonts/RT Rondelle/RTRondelle-Regular.otf')
    format('opentype'),
    url('../../../static/fonts/RT Rondelle/RTRondelle-Regular.otf')
    format('opentype');
    font-weight: 400;
    font-style: normal;
}
